.slideshow
    height 324px
    width 540px
    margin 10px
    box-sizing border-box
    position relative
    svg 
        position absolute
        top 0
        bottom 0 
        margin auto
        cursor pointer
        &:hover
            color Blue
    .left
        left -10%
    .right
        right -10% 
.photo
    position absolute
    left 0
    right 0
    height 100%
.show.photo
    opacity 1
    transition opacity 1s ease-in
.hidden.photo
    opacity 0
    transition opacity 1s ease-out