.star_rating {
    display: flex;
    font-size: 20px;
}

.star_rating input[type="radio"] {
    display: none;
}

.star_rating label {
    cursor: pointer;
    margin-right: 8px;
}

.star svg{
    color :yellow ;
}

.dark.star svg{
    color : black;
}

.star_rating:hover svg{
    color: yellow;
}

.star_rating svg:hover,
.star_rating .star:hover ~ .star svg {
  color: black;
}

.star:hover svg{
    color: yellow;
}